body {
  margin: 0px;
}

.header-top {
  background-color: #35424A;
  overflow: hidden;
  height: 10%;
  border-bottom: 0.3em solid #967D4E;
}
.header-top ul, .header-top li {
  display: inline;
}
.header-top nav {
  margin-top: 2%;
}
.header-top li {
  padding-left: 3%;
}
.header-top h1 {
  font-size: 2rem;
  color: white;
}
.header-top h1 span {
  color: #967D4E;
}

a {
  text-decoration: none;
}

a:visited, a:link {
  color: white;
}

.section1 {
  background-image: url("../images/showcase.jpg");
  height: 30%;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 20%;
  text-align: center;
  background-size: 100% 1200px;
}

.container_center {
  color: white;
  width: 60%;
  display: inline-block;
}
.container_center h1 {
  margin: 0;
  font-size: 2rem;
}

.section2 {
  background-color: #35424A;
  color: white;
}
.section2 .col-2 {
  margin-top: 1%;
}

.section3 {
  background-color: #F4F4F4;
  padding-top: 5%;
}
.section3 img {
  width: 20%;
}

.form-input {
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3, .col-2 {
  display: block;
}

.col-3 {
  width: 33%;
}

.col-2 {
  width: 50%;
}

.col-4 {
  width: 25%;
}

.col-1 {
  width: 75%;
}

.right {
  float: right !important;
  margin-top: 1em;
}

.center {
  justify-items: center;
  text-align: center;
}

.btn-default {
  display: inline-block;
  border-radius: 0;
  background-color: #967D4E;
  color: white;
  border-color: #967D4E;
  width: 8em;
  height: 3em;
}

.input-group {
  margin: 0.3em;
  display: block;
}
.input-group .input-form {
  display: inline;
  width: 100%;
  height: 3em;
  padding: 0;
}
.input-group .ml {
  width: 100%;
}
.input-group textarea {
  width: 100%;
  height: 10%;
  padding: 0;
}

.input-form {
  width: 16em;
  height: 3em;
}

.line {
  display: inline-block;
}

.container {
  background-color: #F4F4F4;
  align-items: center;
}
.container .container-background {
  background-color: #35424A;
  color: white;
  padding: 2%;
}
.container .container-grey {
  background-color: #E6E6E6;
  color: black;
  padding: 0.3%;
  margin-bottom: 1%;
}
.container .col-1, .container .col-2, .container .col-3, .container .col-4 {
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
}

footer {
  background-color: #967D4E;
  color: white;
  height: 5%;
  padding-top: 2%;
}

#react-width {
  width: 14%;
}

@media screen and (max-width: 1500px) {
  body {
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .col-3, .col-2, .col-1, .col-4 {
    width: 100%;
  }

  .line {
    display: block;
  }

  .btn-default {
    display: inline-block;
    width: 16em;
  }

  .section1 {
    height: 20%;
  }

  .header-top {
    height: 25%;
  }
  .header-top h1 {
    font-size: 1.8em;
  }
  .header-top li {
    display: block;
    margin: 0;
    padding-left: 0;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .section1 p {
    visibility: hidden;
  }
}
@media screen and (max-height: 800px) {
  .header-top {
    height: 30%;
  }

  .section1 p {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
